.bg-custom{
    background-color: #e976d8;
}

.bg-green{
    background-color: #74992e;
}

.bg-red{
    background-color: #ff0000b8;
}

.bg-blue{
    background-color: #0000ff7a;
}

.bg-grey{
    background-color: grey;
}